* {
	padding: 0;
	margin: 0;
		box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 80%;
	margin: auto;
}

.parent-container {
	width: 90%;
	max-width: 500px;
	height: 600px;
	background-color: #f2f2f2;
	/* box-shadow: 0px 5px 10px 0px rgb(56, 55, 55); */
	border-radius: 4px;
	padding: 10px;
	margin: auto;
	margin-top: 50px;
}

.child-container:not(:first-child) {
	margin-top: 10px;
}

.child-container {
	font-size: 14px;
	background-color: #f2f2f2d7;
	border-radius: 4px;
	padding: 5px;
	line-height: 25px;
}

.scroll {
	min-width: 100%;
	height: 280px;
	overflow-y: hidden;
	overflow-x: scroll;
	display: flex;
	padding: 15px 10px;
	scroll-behavior: smooth;
	position: relative;
}

.scroll::-webkit-scrollbar {
	height: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
	background: rgb(218, 235, 187);
	border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
	background: rgb(134, 145, 114);
}

.childofchild {
	min-width: 90%;
	max-width: 800px;
	background-color: rgb(218, 235, 187);
	height: 100%;
	padding: 5px 20px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.childofchild:last-child {
	min-width: 0px;
	max-width: 0px;
	padding: 1.5px;
	background-color: #f2f2f2;
}
.user-details{
	width: 100%;
	height: 40%;
	display: inherit;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom : 1px solid #a3be61;
}

.user-imgsection{
	width: 25%;
	height: 100%;
	display: inherit;
	justify-content: flex-start;
	align-items: center;

}
.user-imgsection img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.user-profilesection{
	width: 70%;
	height: 100%;
	padding: 5px 5px;
	display: inherit;
	flex-direction: column;
	align-items: flex-start;
	justify-content:  center;
}
.user-profilesection h4{
	font-weight: 400;
	font-size: 24.5px;
}
.user-profilesection h6{
	font-weight: 400;
	font-size: 14.5px;
}
.user-story{
	width: 100%;
	height: 60%;
	font-size: 16px;
	margin-top: 10px;
	color: rgba(0, 0, 0, 0.822);
}